/*
* Cusom css
*/
.btn-menu {
  --bs-btn-font-size: .75rem;
}
.btn-control {
  --bs-btn-font-size: .75rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-padding-y: .125rem;
}
.btn-collapse-node {
  --bs-btn-padding-x: .25rem;
  --bs-btn-padding-y: .125rem;
  --bs-btn-line-height: .75rem;
}

/*
* Extensions
*/
.dropdown-item {
  font-size: .75rem;
}
